* {
    padding: 0;
    margin: 0;
}

body {
	background-color: #D6EAF8; 
	color: white;
}

.main_bg {
	width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.main_bg img {
	width:100%;
    height:100%;
}

#fixedbar {
    display: flex;
    height: 100%;
    background-color: rgba(0, 51, 204, 0.3);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px 30px 0 30px;
    box-sizing: border-box;
}

#fixedbar nav ul {
	display: flex;
    list-style: none;
    flex-direction: column;
}

#fixedbar nav ul li {
    margin: 0 0 50px 0;
}

#fixedbar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Menlo, monospace;
    font-size: 1.2em;
}

body > main {
    padding: 0px 50px 50px 350px;
    max-height: 700px;
    overflow: scroll;
}

section {
	height: 100vh;
	padding: 100px 0 0 50px;
}

#about_me {
	padding: 250px 100px 50px 70px;
	display: flex;
	flex-direction: column;
}

#about_me header {
	font-family: Harrington, fantasy;
	font-weight: bolder;
	font-size: 3.7em;
	height: 100px;
}

#about_me main p {
	font-family: Consolas, monospace;
	font-size: 1.1em;
	text-align: left;	
}

section .title {
	font-family: Monaco, monospace;
	font-weight: bold;
	font-size: 3.0em;
	height: 80px;
	color: #ccffff;
}

section .heading {
	font-family: Menlo, monospace;
	font-size: 1.2em;
}

section .info {
	font-family: Consolas, monospace;
	font-size: 0.95em;
}

section main ul {
	padding-left: 20px;
}

section main ul li {
	padding: 20px;
}

#skills main ul {
	list-style: none;
}

#skills main ul li ul.info {
	list-style: circle;
	padding-left: 30px;
}

#skills main ul li ul.info li {
	padding: 5px;
	font-size: 1.1em;
}

#research main ul {
	font-size: 1.1em;
	padding-left: 30px;
}

#research main ul li {
	padding-bottom: 5px;
}

#achievements {
	padding-top: 60px;
}

#achievements main ul {
	font-size: 1.1em;
	padding-left: 20px;
}

#achievements main ul li {
	font-size: 1.0em;
	padding-bottom: 8px;
}

#societies {
	padding-top: 60px;
}

#societies ul {
	font-size: 1.1em;
}

#societies ul li {
	padding-bottom: 8px;
}

#societies header .title {
	height: 120px;
}

